body{
  background-color:#333333;
}

.jumbotron {
  margin-top:15%;
}

#round{
  border-radius: 30px;
}

#tweet{
  font-style: italic;
  color: #1DA1F2;
  display: none
}

button{
  font-size: 2em;
  border: none;
}